.dashboard-body {
  display: flex;
  height: 90vh;
  background: transparent;
}

.dashboard-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-header-content h2{
  margin-top: 14px;
  margin-left: 30px;
}

.dashboard-logout-button {
  height: 80%;
  font-size: 20px;
  background-color: transparent;
  border: 3px solid;
  border-color: azure;
  padding: 10px 30px;
  color: azure;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 30px;
  margin-top: 20px;
}

.dashboard-logout-button:hover {
  background-color: azure;
  color: #050a30;
  transition: 0.5s ease;
}

.sidebar {
  width: 25%;
  background-color: azure;
  color: #050a30;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.sidebar h2{
  color: #050a30;
}

.main-content {
  width: 75%;
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
  background-color: azure;
  border-radius: 10px;
  margin-top: 0;
}

.main-content h2{
  color: #050a30;
}

h2 {
  margin-bottom: 15px;
}

.search-bar {
  display: flex;
}

.search-bar input {
  flex: 1;
  background-color: azure;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.course-list, .assignment-list, .submission-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course-item, .assignment-item, .submission-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #45a29e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-item:hover, .assignment-item:hover, .submission-item:hover {
  background-color: #66b2ad;
}

.selected {
  background-color: #66b2ad;
}

.course-icon, .assignment-icon, .submission-icon {
  width: 40px;
  height: 40px;
  background-color: #0b0c10;
  margin-right: 15px;
  border-radius: 5px;
}

.course-details, .assignment-details, .submission-details {
  flex-grow: 1;
}

.submission-details h3, .assignment-details h3, .course-details h3 {
  margin: 0;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #66b2ad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #45a29e;
}
