.dashboard-body {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #f7f8fa, #e2d1f3);
}

.sidebar {
  width: 25%;
  background-color: #1f2833;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main-content {
  width: 75%;
  padding: 20px;
  overflow-y: auto;
}

h2 {
  margin-bottom: 15px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.course-list, .assignment-list, .submission-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course-item, .assignment-item, .submission-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #45a29e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-item:hover, .assignment-item:hover, .submission-item:hover {
  background-color: #66b2ad;
}

.selected {
  background-color: #66b2ad;
}

.course-icon, .assignment-icon, .submission-icon {
  width: 40px;
  height: 40px;
  background-color: #0b0c10;
  margin-right: 15px;
  border-radius: 5px;
}

.course-details, .assignment-details, .submission-details {
  flex-grow: 1;
}

.submission-details h3, .assignment-details h3, .course-details h3 {
  margin: 0;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #66b2ad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #45a29e;
}
