.landing-container, html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #050a30,#524271);
  height: 100%;
  font-family: Arial;
}

.landing-container {
  display: flex;
  height: 100vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
}

.landing-header h2 {
  position: relative;
  color: azure;
  top: 25px;
  left: 50px;
  font-size: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
}

.logout-button {
  background-color: transparent;
  border: 3px solid;
  border-color: azure;
  color: azure;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 60px;
  margin-top: 32px;
}

.logout-button:hover {
  background-color: azure;
  color: #050a30;
  transition: 0.5s;
}

.box {
  width: 800px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: azure;
}

.landing-button {
  background-color: transparent;
  border: 3px solid;
  border-color: azure;
  color: azure;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 15px;
}

.landing-button:hover {
  background-color: azure;
  color: #050a30;
  transition: 0.5s;
}


.box h1 {
  font-size: 50px;
}