.landing-container, html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #050a30,#524271);
  height: 100%;
  font-family: Arial;
}

.landing-page-header h2 {
  font-size: 80px;
  position: relative;
  color: azure;
  margin-top: 70px;
  margin-left: 70px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.landing-page-login-button {
  font-size: 20px;
  background-color: transparent;
  border: 3px solid;
  border-color: azure;
  padding: 20px 30px;
  color: azure;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 45px;
  margin-right: 70px;
}

.landing-page-login-button:hover {
  background-color: azure;
  color: #050a30;
  transition: 0.5s ease;
}

.landing-page-content {
  color: azure;
  margin-left: 70px;
  margin-right: 70px;
}

.landing-page-content h1{
  font-size: 110px;
  margin: 0;
  margin-top: 50px;
}

.landing-page-content p{
  font-size: 32px;
  margin-bottom: 100px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.landing-page-button {
  font-size: 20px;
  background-color: transparent;
  border: 3px solid;
  border-color: azure;
  padding: 30px 100px;
  color: azure;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 45px;
  margin-right: 70px;
}

.landing-page-button:hover {
  background-color: azure;
  color: #050a30;
  transition: 0.5s ease;
}